<img src="{{user.banner}}" class="mr-3 w-50 h-auto" alt="banner">
<div class="media">
  <img src="{{user.avatar}}" class="mr-3 w-50 h-auto rounded-circle" alt="avatar">
  <div class="media-body">
    <h5 class="mt-0">{{user.name}}</h5>
    <p>{{user.email}}</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
  </div>
</div>