<img src="{{user.banner}}" class="d-flex mr-3 w-50 h-auto mx-auto mb-5" alt="banner">
<div class="media p-3">
  <img src="{{user.avatar}}" class="mr-3 w-25 h-auto rounded-circle" alt="avatar">
  <div class="media-body">
    <h5 class="mt-0">{{user.name}}</h5>
    <p>{{user.email}}</p>
    {{#ifCond user.id selfUser.id}}
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    {{/ifCond}}
  </div>
</div>