<img src="{{user.banner}}" class="d-flex mr-3 w-50 h-auto mx-auto mb-5" alt="banner">
<div class="media p-3">
  <img src="{{user.avatar}}" class="mr-3 w-25 h-auto rounded-circle" alt="avatar">
  <div class="media-body">
    <h5 class="mt-0">{{user.name}}</h5>
    <p>{{user.email}}</p>
    <p><span class="font-weight-bold">{{totalComments}} </span>已評論餐廳</p>
    <p><span class="font-weight-bold">{{user.Followings.length}} </span>Followings(追蹤中)</p>
    <p><span class="font-weight-bold">{{user.Followers.length}} </span>Followers(粉絲)</p>
    <div id="profile-btn">
      {{#ifCond user.id selfUser.id}}
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
      {{else}}
      {{#if isFollowed}}
      <form action="/following/{{user.id}}?_method=DELETE" method="POST"><button type="submit"
          class="btn btn-danger">取消追蹤</button>
      </form>
      {{else}}
      <form action="/following/{{user.id}}" method="POST"><button type="submit" class="btn btn-primary">追蹤</button>
      </form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-4">
    {{!-- 追蹤中 --}}
    <div class="col-sm-4">
      <div class="card">
        <h6 class="card-header text-center">追蹤中 <a href="/followings/{{user.id}}">{{totalFollowings}}</a></h6>
        <ul class="row">
          {{#each user.Followings}}
          <div class="col-sm">
            {{!-- 放入此人追蹤的名單 --}}
            <div class="following-person-list d-flex flex-column">
              <a href="/users/{{this.id}}" class="restaurant d-flex flex-column mx-3">
                <img src="{{this.avatar}}" alt="" class="rounded-circle" style="width: 100px;height:100px">
                <span class="badge badge-primary text-wrap" style="width: 6rem;">
                  {{this.name}}
                </span>
              </a>
            </div>
          </div>
          {{/each}}
          {{!-- 放入此人追蹤的名單 --}}
        </ul>
      </div>

    </div>
    {{!-- 已評論餐廳 --}}
    <div class="col-sm-8">
      <div class="card">
        <h6 class="card-header  text-center">已評論{{totalComments}}家餐廳</h6>
        <div class="card-body">

          {{!-- 餐廳 --}}
          <ul class="d-flex flex-row">
            {{#each user.Comments}}
            <a href="/restaurants/{{this.Restaurant.id}}" class="restaurant d-flex flex-column mx-3">
              <img src="{{this.Restaurant.image}}" alt="" class="rounded-circle" style="width: 100px;height:100px">
              <span class="badge badge-primary text-wrap" style="width: 6rem;">
                {{this.Restaurant.name}}
              </span>
            </a>
            {{/each}}
          </ul>
          {{!-- 分頁 --}}
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/users/{{user.id}}/?page={{prev}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              {{#if totalPage}}
              {{#each totalPage}}
              <li class="page-item"><a class="page-link" href="/users/{{../user.id}}/?page={{this}}">{{this}}</a></li>
              {{/each}}
              {{else}}
              <li class="page-item"><a class="page-link" href="/users/{{../user.id}}/?page=1">1</a></li>
              {{/if}}
              <li class="page-item">
                <a class="page-link" href="/users/{{user.id}}/?page={{next}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    {{!-- 粉絲 --}}
    <div class="col-sm-4">
      <div class="card">
        <h6 class="card-header text-center">粉絲 <a href="/followers/{{user.id}}">{{totalFollowers}}</a></h6>
        <ul class="row">
          {{#each user.Followers}}
          <div class="col-sm">
            {{!-- 放入此人追蹤的名單 --}}
            <div class="following-person-list d-flex flex-column">
              <a href="/users/{{this.id}}" class="restaurant d-flex flex-column mx-3">
                <img src="{{this.avatar}}" alt="" class="rounded-circle" style="width: 100px;height:100px">
                <span class="badge badge-primary text-wrap" style="width: 6rem;">
                  {{this.name}}
                </span>
              </a>
            </div>
          </div>
          {{/each}}
        </ul>
      </div>
    </div>
    {{!-- 已收藏餐廳 --}}
    <div class="col-sm-8">
      <div class="card">
        <h6 class="card-header  text-center">已收藏{{totalFavoritedRestaurants}}家餐廳{{#if totalFavoritedRestaurants}}<a
            href="/favorite/restaurants/{{user.id}}">-more</a>{{/if}}</h6>
        <div class="card-body">
          {{!-- 餐廳 --}}
          <ul class="d-flex flex-row">
            {{#each user.FavoritedRestaurants}}
            <a href="/restaurants/{{this.id}}" class="restaurant d-flex flex-column mx-3">
              <img src="{{this.image}}" alt="" class="rounded-circle" style="width: 100px;height:100px">
              <span class="badge badge-primary text-wrap" style="width: 6rem;">
                {{this.name}}
              </span>
            </a>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>