<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{restaurant.description}}</p>
  </div>
  <hr>
</div>
<br />
<br />
<br /><br />

<h3>所有評論：</h3>
{{#each restaurant.Comments}}
{{!-- 顯示自己留言的編輯鈕 --}}
{{#ifCond this.User.id ../selfUser.id}}
<a href="/restaurants/{{../restaurant.id}}/{{this.id}}" class="btn btn-secondary" style="float: right;">edit</a>
{{/ifCond}}
{{!-- 管理員可以刪除留言 --}}
{{#if ../selfUser.isAdmin}}
<form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{{/if}}
{{!-- 每則留言 --}}
<blockquote class="blockquote mb-0">
  <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
  {{#ifCond this.id ../commentId}}
  {{!-- 編輯留言 --}}
  <form action="/comments/{{../commentId}}/{{../restaurant.id}}?_method=PUT" method="post">
    <textarea class="form-control" name="text" id="text" rows="3">{{this.text}}</textarea>
    <button type="submit" class="btn btn-primary my-2">確認</button>
  </form>
  {{else}}
  {{!-- 留言內容 --}}
  <p>{{this.text}}</p>
  {{/ifCond}}
  <footer class="blockquote-footer">{{fromNow this.updatedAt}}</footer>
</blockquote>
<hr />
{{/each}}
{{!-- 分頁 --}}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="/restaurants/{{restaurant.id}}/?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {{#if totalPage}}
    {{#each totalPage}}
    <li class="page-item"><a class="page-link" href="/restaurants/{{../restaurant.id}}/?page={{this}}">{{this}}</a></li>
    {{/each}}
    {{else}}
    <li class="page-item"><a class="page-link" href="/restaurants/{{restaurant.id}}/?page=1">1</a></li>
    {{/if}}
    <li class="page-item">
      <a class="page-link" href="/restaurants/{{restaurant.id}}/?page={{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{{!-- 新增評論 --}}
<form action="/comments/{{restaurant.id}}" method="post">
  <div id="form-group">
    <label for="text">留下評論</label>
    <textarea class="form-control" name="text" id="text" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary my-2">評論</button>
</form>
<a href="javascript:history.back()">回上一頁</a>